input_data/
input_data/*
input_data/*/*
output/
output/*
output/*/*
output/*/*/*
annotation_agent/
annotation_agent/*
annotation_agent/*/*
.vscode/
*/*/*/__pycache__
*/*/__pycache__
*/__pycache__
fusemap/__pycache__/
*.pyc
