input_data/
input_data/*
input_data/*/*
input_data/*/*/*
input_data/*/*/*/*
input_data/*/*/*/*/*
input_data/*/*/*/*/*/*
jupyter_notebook/
jupyter_notebook/*
jupyter_notebook/*/*
jupyter_notebook/*/*/*
output/
output/*
output/*/*
output/*/*/*
molCCF/
molCCF/*
molCCF/*/*
annotation_agent/
annotation_agent/*
annotation_agent/*/*
.vscode/
*/*/*/__pycache__
*/*/__pycache__
*/__pycache__
fusemap/__pycache__/
*.pyc
